*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
.idea
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

img/usericons/popups.xml
*~


aclocal.m4
autom4te.cache/
compile
configure
install-sh
missing
Makefile
Makefile.in
config.*
po/Makefile*
po/POTFILES
po/stamp-it
m4/intltool.m4
alternative-toolbar.plugin
po/.intltool-merge-cache
*.gschema.valid
